<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <script src="../static/js/quarry.min.js"></script>
  </head>
  <body>

    <div id="banner" class="container">
      <h1 class="display-4">wiki</h1>
    </div>
    <div id="putUp"> </div>
    <!--<div class="container">-->
    <!--  {% if input_data %} {{ input_data }} {% endif %}-->
    <!--  <br />-->
    <!--  {% if output %} {{ output }} {% endif %}-->
    <!--</div>-->
    <div class="container">
      <!--<form action="{{ url_for('process_inputs') }}" method="post" >-->
        <div class="form-group">
          <textarea class="form-control" name="input_freeform" id="input_freeform" ></textarea>
        </div>
<button id="clc" onclick="saveInput()">Click</button>
      </form>
    </div>
  </body>
</html>

